</main>
<footer>
    <h3 class="footer-text">(c) No rights reserved</h3>
</footer>

<script src='/JS/script.js'></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

</body>
</html>