<nav class="navigation-container">
  <h1 class="navigation-title">Kanban Wannabee</h1>
    <ul class="navigation-list">
        <li><a href="/tasks">Home</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
</nav>