<nav class="navigation-container">
  <h1 class="navigation-title">ToDO List app</h1>
    <ul class="navigation-list">
        <li><a href="/">Index</a></li>
        <li><a href="/register">Sign up</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
</nav>