<%- include('./partials/header')%>
        <div class="intro-container">
            <div class="intro">
                <h1 class="intro__header">ToDO List app!</h1>
                <p class="intro__text">This is one of the projects that I did during my Full Stack JavaScript training at 
                    O'clock school (course description is here <a class="course-link" href="https://oclock.io/formations/developpeur-web-fullstack-javascript"> >> </a>).
                    </p>
                <a class="intro__link" href="/login">Start >></a>
            </div>
        </div>
        <div class="articles-container">
            <div class="article">
                <h1 class="article__header">Description</h1>
                <p class="article__text">User can register, login and create/delete/update the tasks. 
                </p>
                <p class="article__text">Each task may have different tags. Tags are removed by double-click.
                </p>
                <p class="article__text">The task list supports drag-and-drop (SortableJS). The order of the tasks is storred in DB.
                </p>
                <!-- <p class="article__text">The order of the tasks is storred in DB.
                </p> -->
                <a class="article__link" href="https://github.com/senichek/oTodo-list#readme">View details >></a>
            </div>
            <div class="article">
                <h1 class="article__header">Stack</h1>
                <p class="article__text">Node JS, Express, Postgres,
                </p>
                <p class="article__text">CSS, HTML, Sequilize
                </p>
                <p class="article__text">EJS, JS, Fetch API.
                </p>
            </div>
            <div class="article">
                <h1 class="article__header">Source Code</h1>
                </p>
                <a class="article__link" href="https://github.com/senichek/oTodo-list">GitHub >></a>
            </div>
        </div>
<%- include('./partials/footer')%>